.content-parent{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(50px);
    padding-top: 2rem;
    
}
.content-child{
    width: fit-content;
    margin: auto;
}
.s-in{
    height: 2rem;
    border: 1px rgba(0, 0, 0, 0.345) solid;
    border-radius: 6px;
}
.s-btn{
    height: 2rem;
    width: 6rem;
    cursor: pointer;
    border: none;
    padding: 0 1rem 0.2rem 1rem;
    margin: 0 0.5rem;
    border-radius: 6px;
    background-color: rgb(0, 123, 255);
}
.s-in{
    color: black;
}
