@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.05rem;
}
body{
    /* background-image:url(./pexels-elia-clerici-912110.jpg); */
   background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #76b9ed, rgb(79, 193, 242),#2185b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size:auto;
    background-position-y: -50rem ;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.304);
    backdrop-filter:blur(20px);
    
}
h1{
    font-size:3rem;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.777);

}
h2{
    font-size: 1.8rem;
}
ul{
    padding-top: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.h-b{
    background-image:url(./pexels-markus-spiske-144352.jpg);
    height: 23rem;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem 3rem 5rem;
}
.h-b-c{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.h-b-c-l-st{
    font-size:1.4rem;
    color: rgba(255, 255, 255, 0.831);
    font-family: 'Merriweather', serif;
}
.h-b-c-t-st{
    font-size:1.4rem;
    color: rgba(255, 255, 255, 0.818);
    font-family: 'Merriweather', serif;
}
li{
    list-style: none;
    margin:0 1rem ;
    padding: 0 0.1rem;
    text-align: center;
}
li:hover{
    border-bottom: 2px solid rgb(174, 174, 174);
    cursor: pointer;
    animation-name: hoverList ;
    animation-duration: 0.5s;
}
@keyframes hoverList {
    0%{
        font-size: 1.2rem;
    }
    50%{
        font-size: 1.3rem;
    }
    100%{
        font-size: 1.2rem;
    }
}