@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.05rem;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}
h2{
    font-size: 1.8rem;
}
ul{
    padding-top: 0.4rem;
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    padding:0 1rem ;
}
li:hover{
    border-bottom: 2px solid rgb(174, 174, 174);
    cursor: pointer;
}