.content-child{
    background-color: rgba(255, 255, 255, 0.578);
    padding: 2.3rem 5rem;
    border-radius: 0.6rem;
    /* border: 1px rgba(0, 0, 0, 0.249) solid;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.181); */
}
.p-t-container{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.735);
    padding: 1rem 1rem;
    margin: 0 0 1rem 0;
    /* border: 1px rgba(0, 0, 0, 0.242) solid; */
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.194);
    border-radius: 5px;
}
.page-title{
    color: rgba(0, 0, 0, 0.674);
        /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.653); */
    font-size: 2.8rem;
    }
.page-subtitle{
    color: rgba(0, 0, 0, 0.516);
    font-family: 'Merriweather', serif;
}
.data-table{
    width: 50vw;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.742);
    border-radius: 5px;
    /* border: 1px rgba(0, 0, 0, 0.242) solid; */
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.194);
    
}
tbody{
    width: 100%;
}
.data-tr{
    height: 3rem;
    width: 100%;
    margin: 0;
    box-shadow: 1px 1px 3px rgba(72, 72, 72, 0.187);
}
.data-tr th {
    text-align: center;
    color: rgb(0, 0, 0);
    height: 3rem;
    }

.data-tr td {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.201);
    height: 3rem;
}
.data-tr:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.098);
    background-color: rgb(255, 255, 255);
}